body {
    margin: 0px;
    padding: 0px;
  }
  
  #map {
    position: absolute;
    height: 100%;
    right: 0;
    left: 0;
    z-index: 0;
    border-right: 1px solid #ddd;
  }
  
  #loadscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 10000;
  }
  #loadscreen .center {
    position: absolute;
    top: 50%;
    left: 50%;
  }
  #loadscreen .bounce {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }
  #loadscreen .text {
    transform: translate(-50%, -100px);
    -webkit-transform: translate(-50%, -100px);
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 16px;
    color: #96a0b4;
  }
  #loadscreen .bouncywrap {
    position: relative;
  }
  #loadscreen .dotcon {
    display: block;
    float: left;
    width: 50px;
    position: absolute;
  }
  #loadscreen .dc1 {
    -webkit-animation: bouncy1 1.5s infinite;
    left: -40px;
    animation: bouncy1 1.5s infinite;
  }
  #loadscreen .dc2 {
    -webkit-animation: bouncy2 1.5s infinite;
    animation: bouncy2 1.5s infinite;
    left: 0;
  }
  #loadscreen .dc3 {
    -webkit-animation: bouncy3 1.5s infinite;
    animation: bouncy3 1.5s infinite;
    left: 40px;
  }
  #loadscreen .dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: rgba(150, 160, 180, 0.8);
  }
  @-webkit-keyframes bouncy1 {
    0% {
      -webkit-transform: translate(0px, 0px) rotate(0deg);
    }
    50% {
      -webkit-transform: translate(0px, 0px) rotate(180deg);
    }
    100% {
      -webkit-transform: translate(40px, 0px) rotate(-180deg);
    }
  }
  @keyframes bouncy1 {
    0% {
      transform: translate(0px, 0px) rotate(0deg);
    }
    50% {
      transform: translate(0px, 0px) rotate(180deg);
    }
    100% {
      transform: translate(40px, 0px) rotate(-180deg);
    }
  }
  @-webkit-keyframes bouncy2 {
    0% {
      -webkit-transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(-40px);
    }
    100% {
      -webkit-transform: translateX(-40px);
    }
  }
  @keyframes bouncy2 {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(-40px);
    }
    100% {
      transform: translateX(-40px);
    }
  }
  @-webkit-keyframes bouncy3 {
    0% {
      -webkit-transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(-40px);
    }
  }
  @keyframes bouncy3 {
    0% {
      transform: translateX(0px);
    }
    50% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-40px);
    }
  }
  
  #progress-container {
    float: right;
  }
  #spinner {
    display: inline-block;
    margin-left: 3px;
    width: 20px;
  }
  #spinner span {
    display: none;
  }
  #spinner span img {
    position: relative;
    width: 15px;
    height: 15px;
    top: -1px;
  }
  
  .loadingIndicator {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000000;
    overflow: hidden;
    height: 4px;
    display: none;
  }
  .loadingIndicator .ng-hide {
    /* visibility:hidden; */
    /* opacity:0; */
    /* -webkit-transition-delay:.25s; */
    transition-delay: .25s;
  }
  .loadingIndicator__bar {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    z-index: 10;
    visibility: visible;
    display: block;
    -webkit-animation: animate-loading-indcator 2s linear infinite;
    animation: animate-loading-indcator 2s linear infinite;
    background-color: rgba(0, 0, 0, 0);
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0, yellow rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    background-size: 25pc 25pc;
    width: 200%;
  }